/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Raleway', sans-serif;
    background: rgb(98,98,145);
    background: linear-gradient(180deg, #626291 0%, rgba(55,55,139,1) 100%);
}

h1 {
    font-family: 'Kalam', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.profile-photo {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 15px white;
}

.social-media {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social-media img{
    width: 40px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    color: #626291;
    text-decoration: none;
    background: white;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    font-weight: bold;
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}